<div class="container">
    <div class="row">
        <div class="container">
            <div class="row" *ngIf='driversList?.length > 0'>
                <div class="col-lg-12">
                    <div>
                        <div class="col-md-4" *ngFor='let driver of driversList; let i= index'>
                            <div class="profile-driver text-center">
                                <div class="profile-info">
                                    <div class="profile-picture">
                                        <img class="profile-pic" src="../../assets/img/drivers/{{driver.Driver.driverId}}.png">
                                    </div>

                                    <h3 class="hvr-underline-from-center"> {{driver.Driver.givenName}} {{driver.Driver.familyName}}<span>{{driver.Constructors[0].name}}</span></h3>
                                    <div class="profile-content">
                                        <p>Nationality: <span><img class="nationality-pic" src="../../assets/img/flags/{{driver.Driver.nationality}}.png"></span></p>
                                        <p>Position: <span>{{driver.position}}</span></p>
                                        <p>Points:
                                            <span>{{driver.points}}</span>
                                        </p>
                                        <p>Wins:
                                            <span>{{driver.wins}}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>