<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
		</button>
            <a class="navbar-brand" [routerLink]="['']"><img src="../../assets/Formula_1_logo.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']">
                    <a>Drivers</a></li>
                <li [routerLink]="['/constructors']" [routerLinkActive]="['active']">
                    <a>Constructors</a>
                </li>
                <li [routerLink]="['/circuits']" [routerLinkActive]="['active']">
                    <a>Circuits</a>
                </li>
            </ul>
        </div>
    </nav>
</div>